In [1]:
import pandas as pd

products=pd.read_csv('archive/Amazon-Products.csv')

In [3]:
products.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","₹32,999","₹58,990"
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","₹46,490","₹75,990"
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","₹34,490","₹61,990"
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4,69,"₹37,990","₹68,990"
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"₹34,490","₹67,790"

In [4]:
products.isnull().sum()

name                   0
main_category          0
sub_category           0
image                  0
link                   0
ratings           175794
no_of_ratings     175794
discount_price     61163
actual_price       17813
dtype: int64

In [5]:
Product = products.dropna(subset=['discount_price'])

In [7]:
Product.isnull().sum()

name                   0
main_category          0
sub_category           0
image                  0
link                   0
ratings           149742
no_of_ratings     149742
discount_price         0
actual_price           0
dtype: int64

In [8]:
Product['ratings'].fillna(4.1, inplace=True)
Product['no_of_ratings'].fillna(5614, inplace=True)

C:\Users\SYED AZIZ AHMED\AppData\Local\Temp\ipykernel_17660\2641488489.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Product['ratings'].fillna(4.1, inplace=True)
C:\Users\SYED AZIZ AHMED\AppData\Local\Temp\ipykernel_17660\2641488489.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Product['no_of_ratings'].fillna(5614, inplace=True)

In [9]:
Product.isnull().sum()

name              0
main_category     0
sub_category      0
image             0
link              0
ratings           0
no_of_ratings     0
discount_price    0
actual_price      0
dtype: int64

In [12]:
Product.duplicated(keep='first')

0         False
1         False
2         False
3         False
4         False
          ...
551579    False
551580    False
551581    False
551582    False
551584    False
Length: 490422, dtype: bool

In [15]:
unique_name_count = Product['name'].nunique()
name_counts = Product['name'].value_counts()
name_counts

Zeya Yellow Gold Ring                                                                                                  685
PC Jeweller 22k (916) Yellow Gold Ring for Women                                                                       561
Avsar 18k (750) Yellow Gold and Diamond Ring for Women                                                                 431
Arrow Men Shirt                                                                                                        365
Peter England Men Shirt                                                                                                295
                                                                                                                      ...
ESBEDA Grey Colour Glitter Shine Clutch for Women                                                                        1
Fostelo Women's Polyurethane Classics Handbag With 2 Zip Compartments, 1 Inside Zip Pocket And 1 Back Button Pocket      1
Miraggio Eve Quilted Shoulder Bag for Women                                                                              1
ARMODA DOUBLE STRIP TOTE BAG                                                                                             1
Mothercare Printed Cotton Elastane Girls Infant Leggings (S21VF342MU-P)                                                  1
Name: name, Length: 351601, dtype: int64

In [16]:
Product.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","₹32,999","₹58,990"
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","₹46,490","₹75,990"
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","₹34,490","₹61,990"
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4,69,"₹37,990","₹68,990"
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"₹34,490","₹67,790"

In [17]:
Product.to_csv('Products.csv', index=False)

In [2]:
df=pd.read_csv('Products.csv')

In [3]:
df.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","₹32,999","₹58,990"
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","₹46,490","₹75,990"
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","₹34,490","₹61,990"
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4,69,"₹37,990","₹68,990"
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"₹34,490","₹67,790"

In [4]:
# Assuming 'df' is your DataFrame
# Combine relevant columns into the 'tags' column
df['tags'] = df['main_category'] + ' ' + df['sub_category'] + ' ' + df['ratings'].astype(str) + ' ' + df['discount_price'] + ' ' + df['actual_price']

# Optionally, you can drop the original columns if needed
df = df.drop(columns=['main_category', 'sub_category', 'ratings', 'discount_price', 'actual_price','image','link','no_of_ratings'])

In [5]:
df.head()

,name,tags
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,"appliances Air Conditioners 4.2 ₹32,999 ₹58,990"
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,"appliances Air Conditioners 4.2 ₹46,490 ₹75,990"
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,"appliances Air Conditioners 4.2 ₹34,490 ₹61,990"
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,"appliances Air Conditioners 4 ₹37,990 ₹68,990"
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,"appliances Air Conditioners 4.1 ₹34,490 ₹67,790"

In [10]:
data = df
data.head()

,name,tags
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,"appliances Air Conditioners 4.2 ₹32,999 ₹58,990"
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,"appliances Air Conditioners 4.2 ₹46,490 ₹75,990"
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,"appliances Air Conditioners 4.2 ₹34,490 ₹61,990"
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,"appliances Air Conditioners 4 ₹37,990 ₹68,990"
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,"appliances Air Conditioners 4.1 ₹34,490 ₹67,790"

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import csr_matrix

# Reduce max_features and use TfidfVectorizer
tfidf = TfidfVectorizer(max_features=100)
tfidf_matrix = tfidf.fit_transform(df['tags'])

# Convert to a compressed sparse row matrix (CSR) for efficient storage
sparse_matrix = csr_matrix(tfidf_matrix)

In [32]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import numpy as np

# Sample dataset (you should replace this with your actual data)


# Convert 'tags' to lowercase
data['tags'] = data['tags'].str.lower()

# Tokenization and stopword removal
stop_words = set(stopwords.words('english'))

def preprocess_tags(tags):
    words = word_tokenize(tags)
    filtered_words = [word for word in words if word not in stop_words]
    return ' '.join(filtered_words)

data['tags'] = data['tags'].apply(preprocess_tags)

# Split your data into subsets (chunks)
chunk_size = 10000  # Define the size of each subset
chunks = [data[i:i + chunk_size] for i in range(0, len(data), chunk_size)]

# Initialize a TfidfVectorizer
tfidf = TfidfVectorizer(max_features=100)

# Create an empty matrix to store combined cosine similarities
combined_similarity_matrix = None

# Loop through the subsets and calculate vectorization and cosine similarities
for chunk in chunks:
    # Vectorization
    tfidf_matrix = tfidf.fit_transform(chunk['tags'])

    # Calculate cosine similarity within this chunk
    cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
    
    # Get the dimensions of the current similarity matrix
    rows, cols = cosine_sim.shape

    # Combine the similarity matrices
    if combined_similarity_matrix is None:
        combined_similarity_matrix = cosine_sim
    else:
        # If the dimensions don't match, pad the smaller matrix with zeros
        max_rows = max(combined_similarity_matrix.shape[0], rows)
        max_cols = max(combined_similarity_matrix.shape[1], cols)
        
        combined_similarity_matrix = np.pad(
            combined_similarity_matrix, ((0, max_rows - combined_similarity_matrix.shape[0]), 
                                        (0, max_cols - combined_similarity_matrix.shape[1])), 'constant')
        cosine_sim = np.pad(cosine_sim, ((0, max_rows - rows), (0, max_cols - cols)), 'constant')
        
        combined_similarity_matrix += cosine_sim

# If you want to average the similarities, divide by the number of subsets
combined_similarity_matrix /= len(chunks)
print("Cosine Similarity Matrix Shape:", combined_similarity_matrix.shape)
# Now, combined_similarity_matrix contains the combined cosine similarities
print(combined_similarity_matrix)

MemoryError: Unable to allocate 763. MiB for an array with shape (10000, 10000) and data type float64

In [17]:
import pickle

# Your cosine similarity matrix


# Specify the file path where you want to save the pickle file
file_path = 'cosine_similarity_matrix.pkl'

# Use pickle to save the matrix to the specified file
with open(file_path, 'wb') as file:
    pickle.dump(combined_similarity_matrix, file)

In [26]:
import pickle

# Load the cosine similarity matrix from the pickle file
def load_cosine_similarity_matrix(file_path):
    with open(file_path, 'rb') as file:
        cosine_similarity_matrix = pickle.load(file)
    return cosine_similarity_matrix

# Function to get item recommendations based on a seed item
def get_item_recommendations(seed_item_name, cosine_similarity_matrix, data, top_n=10):
    try:
        # Find the index of the seed item in the dataset
        seed_item_index = data.index[data['name'] == seed_item_name].tolist()[0]

        # Retrieve the similarity scores for the seed item
        similarity_scores = cosine_similarity_matrix[seed_item_index]

        # Sort items by similarity
        similar_items_indices = sorted(range(len(similarity_scores)), key=lambda i: similarity_scores[i], reverse=True)

        # Top N recommendations (exclude the seed item)
        recommended_items = [similar_items_indices[i] for i in range(1, top_n + 1)]

        # Extract the names of recommended items
        recommended_item_names = [data['name'][i] for i in recommended_items]

        return recommended_item_names

    except Exception as e:
        return f"Error: {str(e)}"

# Example usage:
# Load the cosine similarity matrix
cosine_similarity_matrix = load_cosine_similarity_matrix('cosine_similarity_matrix.pkl')

# Example: Get recommendations for a seed item
seed_item_name = 'Nexqua Dew Portable Digital LCD PH Meter & Black TDS Meter (0~9990ppm) Combo Pack for Water Purity Testing, Water Quality ...'  # Replace with the item name you want to get recommendations for
recommendations = get_item_recommendations(seed_item_name, cosine_similarity_matrix, data)

print("Recommendations for", seed_item_name)
for item in recommendations:
    print(item)

Recommendations for Nexqua Dew Portable Digital LCD PH Meter & Black TDS Meter (0~9990ppm) Combo Pack for Water Purity Testing, Water Quality ...
Hi-PLASST (5pcs) 6A 2 Pin Plastic Plug Top 240V Royal Male Plug for Fan Table, Mixers, Electric Choppers, Lights, LEDs, Ai...
hoox Smart Cup mini car refrigerator/fridge and heater for Car make your drink hot/cool - 500 ml capacity Smart car access...
Cloudd Mini Folding Washing Machine Portable,Foldable Compact Ultrasonic Small Automatic USB Powered Cleaning Washer for T...
Sterling Nutri Blender for Kitchen, Mixer, Smoothie Maker, Magic Bullet Mixer Grinder, Chopper, Stainless Steel Blades, 21...
WHOLER 50 LPH Commercial RO Water Purifier Plant/Filter Double Purification 50 litre per hour with uv, TDS Adjuster, Auto ...
Panasonic SR-WA18H (YT) 660-Watt Automatic Cooker Warmer 4.4 L with Extra Cooking Pan, Colour May Vary
Rollz Stainless Steel Frother with Rechargeable Battery,Handheld Electric Coffee Beater, Includes USB Charging Cable, Stai...
AMPEREUS Whirlpool Front Panel Top Load Washing Machine Cover Suitable for 6.0 Kg, 6.2 Kg, 6.5 Kg, 7 Kg, 7.2 Kg, 7.5 Kg (5...
STARQ Inlet Nozzle Pack of 3 Suitable for Starq Jpt Resqtech Bosch Karcher Pressure washers
KOIOS Vacuum Sealer Machine, 86Kpa Food Saver with Dry & Moist Food Modes, Automatic Food Sealer Machine with built in Cut...

In [28]:
data

,name,tags
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,"appliances air conditioners 4.2 ₹32,999 ₹58,990"
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,"appliances air conditioners 4.2 ₹46,490 ₹75,990"
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,"appliances air conditioners 4.2 ₹34,490 ₹61,990"
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,"appliances air conditioners 4 ₹37,990 ₹68,990"
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,"appliances air conditioners 4.1 ₹34,490 ₹67,790"
...,...,...
490417,BE SAVAGE Pink I Purple You Hoodie Suitable fo...,sports & fitness yoga 4.6 ₹711 ₹999
490418,Adidas Regular Fit Men's Track Tops,"sports & fitness yoga 3.2 ₹3,449 ₹4,599"
490419,Redwolf Noice Toit Smort - Hoodie (Black),"sports & fitness yoga 2 ₹1,199 ₹1,999"
490420,Redwolf Schrute Farms B&B - Hoodie (Navy Blue),"sports & fitness yoga 4 ₹1,199 ₹1,999"
490421,Mothercare Printed Cotton Elastane Girls Infan...,"sports & fitness yoga 4.6 ₹1,039 ₹1,299"

In [29]:
# Check the shape of the similarity matrix
print("Cosine Similarity Matrix Shape:", cosine_similarity_matrix.shape)

Cosine Similarity Matrix Shape: (10000, 10000)